<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myBResumeLabel" jhiTranslate="resumeApp.bResume.home.createOrEditLabel">Create or edit a B Resume</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!bResume.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="bResume.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="resumeApp.bResume.username" for="field_username">Username</label>
            <input type="text" class="form-control" name="username" id="field_username"
                [(ngModel)]="bResume.username"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="resumeApp.bResume.url" for="field_url">Url</label>
            <input type="text" class="form-control" name="url" id="field_url"
                [(ngModel)]="bResume.url"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="resumeApp.bResume.status" for="field_status">Status</label>
            <input type="number" class="form-control" name="status" id="field_status"
                [(ngModel)]="bResume.status"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="resumeApp.bResume.extra" for="field_extra">Extra</label>
            <input type="text" class="form-control" name="extra" id="field_extra"
                [(ngModel)]="bResume.extra"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="resumeApp.bResume.isActive" for="field_isActive">Is Active</label>
            <input type="checkbox" class="form-control" name="isActive" id="field_isActive"
                [(ngModel)]="bResume.isActive"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="resumeApp.bResume.createTime" for="field_createTime">Create Time</label>
            <div class="d-flex">
                <input id="field_createTime" type="datetime-local" class="form-control" name="createTime" [(ngModel)]="bResume.createTime"
                  />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="resumeApp.bResume.updateTime" for="field_updateTime">Update Time</label>
            <div class="d-flex">
                <input id="field_updateTime" type="datetime-local" class="form-control" name="updateTime" [(ngModel)]="bResume.updateTime"
                  />
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
