
<div *ngIf="bSelf">
    <h2><span jhiTranslate="resumeApp.bSelf.detail.title">B Self</span> {{bSelf.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="resumeApp.bSelf.username">Username</span></dt>
        <dd>
            <span>{{bSelf.username}}</span>
        </dd>
        <dt><span jhiTranslate="resumeApp.bSelf.description">Description</span></dt>
        <dd>
            <span>{{bSelf.description}}</span>
        </dd>
        <dt><span jhiTranslate="resumeApp.bSelf.extra">Extra</span></dt>
        <dd>
            <span>{{bSelf.extra}}</span>
        </dd>
        <dt><span jhiTranslate="resumeApp.bSelf.isActive">Is Active</span></dt>
        <dd>
            <span>{{bSelf.isActive}}</span>
        </dd>
        <dt><span jhiTranslate="resumeApp.bSelf.createTime">Create Time</span></dt>
        <dd>
            <span>{{bSelf.createTime | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="resumeApp.bSelf.updateTime">Update Time</span></dt>
        <dd>
            <span>{{bSelf.updateTime | date:'medium'}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'b-self/'+ bSelf.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
