
<div *ngIf="bAuthor">
    <h2><span jhiTranslate="resumeApp.bAuthor.detail.title">B Author</span> {{bAuthor.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="resumeApp.bAuthor.username">Username</span></dt>
        <dd>
            <span>{{bAuthor.username}}</span>
        </dd>
        <dt><span jhiTranslate="resumeApp.bAuthor.likeCount">Like Count</span></dt>
        <dd>
            <span>{{bAuthor.likeCount}}</span>
        </dd>
        <dt><span jhiTranslate="resumeApp.bAuthor.writeCount">Write Count</span></dt>
        <dd>
            <span>{{bAuthor.writeCount}}</span>
        </dd>
        <dt><span jhiTranslate="resumeApp.bAuthor.introduction">Introduction</span></dt>
        <dd>
            <span>{{bAuthor.introduction}}</span>
        </dd>
        <dt><span jhiTranslate="resumeApp.bAuthor.qualifications">Qualifications</span></dt>
        <dd>
            <span>{{bAuthor.qualifications}}</span>
        </dd>
        <dt><span jhiTranslate="resumeApp.bAuthor.protection">Protection</span></dt>
        <dd>
            <span>{{bAuthor.protection}}</span>
        </dd>
        <dt><span jhiTranslate="resumeApp.bAuthor.phone">Phone</span></dt>
        <dd>
            <span>{{bAuthor.phone}}</span>
        </dd>
        <dt><span jhiTranslate="resumeApp.bAuthor.responseTime">Response Time</span></dt>
        <dd>
            <span>{{bAuthor.responseTime}}</span>
        </dd>
        <dt><span jhiTranslate="resumeApp.bAuthor.extra">Extra</span></dt>
        <dd>
            <span>{{bAuthor.extra}}</span>
        </dd>
        <dt><span jhiTranslate="resumeApp.bAuthor.isActive">Is Active</span></dt>
        <dd>
            <span>{{bAuthor.isActive}}</span>
        </dd>
        <dt><span jhiTranslate="resumeApp.bAuthor.createTime">Create Time</span></dt>
        <dd>
            <span>{{bAuthor.createTime | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="resumeApp.bAuthor.updateTime">Update Time</span></dt>
        <dd>
            <span>{{bAuthor.updateTime | date:'medium'}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'b-author/'+ bAuthor.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
