<div>
    <h2>
        <span jhiTranslate="resumeApp.sUser.home.title">S Users</span>
        <button class="btn btn-primary float-right create-s-user" [routerLink]="['/', { outlets: { popup: ['s-user-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="resumeApp.sUser.home.createLabel">
            Create new S User
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="sUsers">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="resumeApp.sUser.username">Username</span></th>
            <th><span jhiTranslate="resumeApp.sUser.nickname">Nickname</span></th>
            <th><span jhiTranslate="resumeApp.sUser.avatar">Avatar</span></th>
            <th><span jhiTranslate="resumeApp.sUser.city">City</span></th>
            <th><span jhiTranslate="resumeApp.sUser.jobStatus">Job Status</span></th>
            <th><span jhiTranslate="resumeApp.sUser.extra">Extra</span></th>
            <th><span jhiTranslate="resumeApp.sUser.isActive">Is Active</span></th>
            <th><span jhiTranslate="resumeApp.sUser.createTime">Create Time</span></th>
            <th><span jhiTranslate="resumeApp.sUser.updateTime">Update Time</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let sUser of sUsers ;trackBy: trackId">
                <td><a [routerLink]="['../s-user', sUser.id ]">{{sUser.id}}</a></td>
                <td>{{sUser.username}}</td>
                <td>{{sUser.nickname}}</td>
                <td>{{sUser.avatar}}</td>
                <td>{{sUser.city}}</td>
                <td>{{sUser.jobStatus}}</td>
                <td>{{sUser.extra}}</td>
                <td>{{sUser.isActive}}</td>
                <td>{{sUser.createTime | date:'medium'}}</td>
                <td>{{sUser.updateTime | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../s-user', sUser.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 's-user/'+ sUser.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 's-user/'+ sUser.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
